.content{
    border: 1px solid teal;
    margin: 80px 5% 30px 5%;
    padding: 5px 30px 10px 5px;
    position: relative;
    display: grid;
    grid-template-columns: 20% 1fr;
    column-gap: 30px;
}
.content>.side-bar{
    display: inline-block;
    grid-column: 1/2;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    bottom: 60px;
    width: 100%;
    height: max-content;
    min-height: 300px;
    border: 1px solid teal;
}
.content>.section{
    border: 1px solid teal;
    margin: 0%;
    margin-bottom: 20px;
    grid-column: 2/3;
    height: 550px;
    display: grid;
    grid-template-columns: 1fr 20%;
}
.section>.main-content,
.section>.side-content{
    margin: 0%;
    border: 1px solid teal;
}
.section>.main-content>div{
    border: 1px solid teal;
    box-sizing: border-box;
}
.section>.main-content{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 10% 80% 5%;
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
}
.content-title{
    grid-column: 1/3;
}
.content-footer{
    grid-column: 1/3;
}