.content{
    border: 1px solid teal;
    margin: 80px 4% 30px 4%;
    padding: 5px 0px 10px 5px;
    position: relative;
    display: grid;
    grid-template-columns: 20% 1fr;
    column-gap: 10px;
}
.content>.side-bar{
    display: inline-block;
    grid-column: 1/2;
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
    bottom: 60px;
    width: 100%;
    height: max-content;
    min-height: 300px;
    border: 1px solid teal;
}
.content>.section{
    border: 1px solid rgb(23, 0, 128);
    margin: 0%;
    margin-bottom: 20px;
    grid-column: 2/3;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 25%;
}
.section>.main-content,
.section>.side-content{
    margin: 0%;
    border: 1px solid teal;
}
.section>.main-content>div{
    border: 1px solid teal;
    box-sizing: border-box;
}
.section>.main-content{
    box-sizing: border-box;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 8% 80% 5%;
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
}
.content-title{
    grid-column: 1/3;
}
.content-title>h3{
    margin: 0%;
    height: 100%;
    padding-top: 10px;
    color: var( --title-color);
}
.content-info{
    grid-column: 1/2;
}
.content-info>.info-title{
    margin: 10px 0%;
    color: var(--article-title-color);
}
.content-info>p{
    margin: 8px 0%;
    line-height: 1.2em;
}
.content-info>.usage{
    margin: 8px 0px;
    margin-top: 20px;
}
.content-facts{
    grid-column: 2/3;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-items: center;
    padding: 5px;
}
.content-facts>.fact-image{
    margin: 0%;
    border: 1px solid rgb(15, 15, 2);
    height: 35%;
    width: 80%;
}
.content-facts>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content-facts>.facts-data{
    border: 1px solid brown;
    text-align: center;
    margin: 20px 0% 5px 0%;
}
.content-facts>.facts-data p{
    margin: 10px 0% 5px 0%;
}
.content-facts>.facts-data .facts-source{
    font-size: .9em;
    opacity: .8;
    color: var(--user-link-color);
}
.content-footer{
    grid-column: 1/3;
    position: absolute;
    bottom: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content-footer>.issue{
    color: var(--author-link-color);
}
.content-footer>.content-footer-links{
    display: flex;
    gap: 20px;
    padding-right: 10px;
}
.content-footer-links>a{
    text-decoration: none;
    color: var(--footer-link-color);
}
.content-footer-links>a:hover{
    color: teal;
}
