
*{
    box-sizing: border-box;
}
html{
    line-height: 1.15;
    background-color: var(--bg-color);
}
html.sr .load-hidden {
    visibility: hidden;
}
body{
    margin: 0%;
    font-family: 'Product Sans', sans-serif;
    font-size: 16px;

}

@media (prefers-color-scheme: dark) {
    :root{
        --accent-color: #0078d0;
        --accent: #1688f0;
        --bg-color: #000;
        --title-one-color:#fff;
        --title-color: #0078d0;
        --author-link-color: rgb(16, 143, 165);
        --article-title-color:rgba(102,247,113,1);
        --under-title-color: rgb(199, 197, 197);
        --summery-color: rgb(226, 224, 224);
        --button-text-color: rgb(199, 249, 255);
        --border-color: rgba(9, 205, 240, 0.445);
        --footer-link-color: #666;
        --site-name-color: rgba(102,247,113,1);

        --box-shadow: #e8e8ee 0 10px 20px -10px;

        --background-color: #0f0f1a;
        --bg-color-one: #0a0a0f;
    }
  }

  @media (prefers-color-scheme: light) {
    :root{
        --accent-color: #0078d0;
        --author-link-color: rgb(16, 143, 165);
        --background-color:#fff;
        --title-one-color: #1a1a1a;
        --title-color: #0078d0;
        --article-title-color:#091310;
      /*  --article-title-color:rgb(1, 161, 95);*/
        --under-title-color: #666;
        --footer-link-color: #666;
        --button-text-color: rgb(255, 255, 255);
        --border-color: #0079d08f;
        --site-name-color: rgba(20, 167, 62, 1);

        --bg-color-one: #fff;

        --box-shadow: none;
    }
  }