:root{
    --accent-color: #0078d0;
    --author-link-color: rgb(16, 143, 165);
    --background-color:#fff;
    --title-one-color: #1a1a1a;
    --title-color: #0078d0;
    --article-title-color:#0a0a0f;
    --under-title-color: #666;

}
:dark{
    --text: #e5e5e5;
    --accent: #1688f0;
    --bg-main: #000;
    --bg-repo: #0f0f1a;
    --bg-user: #0a0a0f;
}
*{
    box-sizing: border-box;
}
html{
    line-height: 1.15;
}
body{
    margin: 0%;
    font-size: 1rem;
}