/* CSS */
header{
    border-bottom: 1px solid rgba(91, 90, 89, 0.199);
    background-color: var(--background-color);
    z-index: 2;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 8%;
    padding: 0% 6%;
   /* box-shadow: #4a4a4917 0px 8px 1rem;*/
}
.site-logo>.site-name{
  color: var(--accent-color);
  text-shadow: var(--shadow-text);
  font-size: 1.8rem;
}
header>.header-links{
   /*border: 1px solid #0078d0;*/
    height: 100%;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0%;
}
header>.header-links .header-list-item{
   /* border: 1px solid #0078d0;*/
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 0%;
}
.header-links>.header-list-item .header-link{
   /* border: 1px solid #d000a3;*/
    box-sizing: border-box;
    text-decoration: none;
    height: 100%;
    padding: 0% 15px;
    font-size: 1.0rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    color: var(--article-title-color);
   /* text-shadow: var(--shadow-text);*/
}
.header-links>.header-list-item .active-header-link{
    border-bottom: 4px solid var(--accent-color);
   /* color: var(--accent-color);*/
   /* font-weight: 600;*/
    line-height: normal;
}

.header-links>.header-list-item .header-link:hover{
    color: var(--accent-color);
}
.account{
 /* border: 1px solid gold;*/
  position: absolute;
  right: 5%;
  display: flex;
  gap: 20px;
}
header #start{
  display: none;
}
.getting-started {
  text-decoration: none;
  padding: 2px 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
.getting-started>.icli{
  font-size: 18px;
  /*border: 1px solid gold;*/
  margin-top: 4px;
}
.sign-up{
  color: #1dbd7b;
  border:1px solid var(--border-color);
}
.login{
  background-color: #1dbd7b;
  color: white;
}



/*
  1.3.1 Header Dropdown Section
*/
.profile-section{
  position: absolute;
  right: 5%;
  margin: 0px 10px;
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: 15px;
 /* border: 1px solid rgb(8, 8, 8);*/
  cursor: pointer;
}
.profile-section>.icli{
  text-align: center;
  position: relative;
  display: inline-block;
  color: #72ce26;
  background-color: #72ce2600;
  /*border: 1px solid yellow;*/
  margin-top: 5px;
  padding: 0px;
  font-size: 35px;
  background-color: none;
  border-radius: 50px;
  /*box-shadow: 0rem 2rem 2rem #2a2b2a50;*/
}
#text-count{
  display: inline-block;
  background-color: #08b86e;
  width: 16px;
  height: 16px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 3px;
  position: absolute;
  font-size: 0.7rem;
  top: -2px;
  right: 1px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}

.profile-section>.profile-image-wrapper{
  border: 1px solid #72ce26a2;
 /* box-shadow: 0rem 2rem 2rem #2a2b2a50;*/
  position: relative;
  margin-top: 10px;
  padding: 3px;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
.profile-section>.profile-image-wrapper img{
  width: 100%;
  height: 100%;
  border-radius: 50px;
  object-fit: cover;
}
.profile-section>.profile-image-wrapper .active-status{
  display: inline-block;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -5px;
  bottom: 2px;
  width: 14px;
  height: 14px;
  background-color: var(--background-color);
 /* border: 1px solid var(--border-color);*/
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
.profile-image-wrapper>.active-status>.dot{
  height: 8px;
  width: 8px;
  border: var(--border);
  background-color: rgb(39, 204, 94);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}

.profile-section>.profile-dropdown{
  z-index: inherit;
  display: none;
  position: absolute;
  background-color: white;
 /*background-color: rgb(228, 243, 214);*/
  border: var(--border);
  padding: 0%;
  padding-top: 8px;
  margin: 0%;
  width: 220px;
  top: 75px;
  right: 0%;
  box-shadow: 0.1rem 0.5rem 1rem #2a2b2a31;
}
.profile-dropdown>.go-to-profile{
 /* border: 1px solid #72ce26;*/
  padding: 2px 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}
.profile-dropdown>.go-to-profile>.profile-image-wrapper{
  align-self: flex-start;
  width: 34px;
  height: 34px;
  padding: 3px;
  border: 1px solid #73d62252;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
.profile-dropdown>.go-to-profile>.profile-image-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
.profile-dropdown>.go-to-profile>.name-container{
  padding: 0%;
  margin: 0%;
 /* border: 1px solid #72ce26;*/
}
.profile-dropdown>.go-to-profile>.name-container .name{
  margin: 0%;
  padding: 0%;
  color: #404040;
}
.profile-dropdown>.go-to-profile>.name-container .profile-link{
  padding: 0%;
  margin: 0%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #808080;
 /* border: 1px solid  #808080;*/
  font-size: .9rem;
  margin-left: 20px;
}
.profile-dropdown>.go-to-profile>.name-container .profile-link:hover{
  color: #08b86e;
}

.profile-dropdown>.go-to-profile>.name-container>.profile-link .icbo{
  color: #08b86e;
  display: inline-block;
  margin: 0%;
  /*border: 1px solid  #808080;*/
  text-align: center;
  padding-left: 5px;
  padding-top: 5px;
  padding-left: 2px;
}
.profile-dropdown>.linked-list{
  margin: 10px 0px 12px 15px;
  list-style-type: none;
  padding: 0%;
}
.profile-dropdown>.linked-list>.dropdown-li{
  margin-top: 8px;
}
.profile-dropdown>.linked-list .dropdown-link{
  text-decoration: none;
  color: #808080;
  padding: 0px 5px;
}
.profile-dropdown>.linked-list .dropdown-link:hover{
  color: var(--hover-link-color);
}
.profile-dropdown>.linked-list .log-out{
  color: rgb(219, 55, 55);
}
.profile-dropdown>.linked-list .log-out:hover{
  color: rgb(219, 55, 55);
}
hr{
  opacity: .3;
}